{% extends 'layout.twig' %}

{% block page %}
  <h1>About</h1>
  <p class="measure lh-copy">Hello. I’m a digital designer with fifteen years experience working for a diverse mix of commercial and cultural clients. My specialisation lies at the meeting point of brand and digital — encompassing user experience, information architecture, and design for web and mobile.</p>
  <p class="measure lh-copy">My career started in 2003 at the leading Scottish design studio Marque Creative, working with clients in Glasgow, London and New York. Relocating to London in 2009, I held the position of senior digital designer at Bureau for Visuals Affairs — a digital design studio focussed on content driven experiences for the cultural and commercial sector.</p>
  <p class="measure lh-copy">
At heart I'm a digital specialist, but my background at Marque and Bureau has instilled me with a deep understanding of branding and its relationship with technology. Since 2012 I have worked with design agencies like Wolff Olins and Prophet (and my own clients) to bring brands to life in the digital space.</p>
{% endblock %}
