{% extends 'layout.twig' %}

{% block page %}
  <h1>About</h1>
  <p class="measure lh-copy">Hello. I’m a digital designer with fifteen years experience working for a diverse mix of commercial and cultural clients. My specialisation lies at the meeting point of brand and digital — encompassing user experience, information architecture, and design for web and mobile.</p>
{% endblock %}
